<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Untitled" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag :application %>  
     <!-- <%= javascript_include_tag :defaults %>    -->
  
 
   <%= csrf_meta_tags %>  
  <!-- <%= csrf_meta_tags %> -->
     <!-- <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %> 
   <%= javascript_include_tag 'rails' %>   -->
<%= yield(:head)%>
</head>
<body>
	
	 
	
	<!doctype html>
	<html>
	<head>
	<meta charset="UTF-8">
	<!-- TemplateBeginEditable name="doctitle" -->
	<title>Home</title>
	
	<style type="text/css">
	<!--
	body {
		font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
		background-color: #42413C;
		margin: 0;
		padding: 0;
		color: #000;
	}
	
	ul, ol, dl { 
		padding: 0;
		margin: 0;
	}
	h1, h2, h3, h4, h5, h6, p {
		margin-top: 0;	 
		padding-right: 15px;
		padding-left: 15px; 
	}
	a img {
		border: none;
	}
	
	a:link {
		color: #42413C;
		text-decoration: underline; 
	}
	a:visited {
		color: #6E6C64;
		text-decoration: underline;
	}
	a:hover, a:active, a:focus { 
		text-decoration: none;
	}
	
	.container {
		width: 960px;
		background-color: #FFFFFF;
		margin: 0 auto; 
	}
	
	header {
		background-color: #ADB96E;
	}

	.sidebar1 {
		float: left;
		width: 180px;
		background-color: #EADCAE;
		padding-bottom: 10px;
	}
	.content {
		padding: 10px 0;
		width: 600px;
		float: left;
	}
	aside {
		float: left;
		width: 180px;
		background-color: #EADCAE;
		padding: 10px 0;
	}

	/* ~~ This grouped selector gives the lists in the .content area space ~~ */
	.content ul, .content ol {
		padding: 0 15px 15px 40px; 
	}

	
	nav ul{
		list-style: none; /* this removes the list marker */
		border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
		margin-bottom: 15px; /* this creates the space between the navigation on the content below */
	}
	nav li {
		border-bottom: 1px solid #666; /* this creates the button separation */
	}
	nav a, nav a:visited { 
		padding: 5px 5px 5px 15px;
		display: block; 
		width: 160px;  
		text-decoration: none;
		background-color: #C6D580;
	}
	nav a:hover, nav a:active, nav a:focus { 
		background-color: #ADB96E;
		color: #FFF;
	}

	/* ~~ The footer ~~ */
	footer {
		padding: 10px 0;
		background-color: #CCC49F;
		position: relative;
		clear: both; 
	}

	.fltrt {  
		float: right;
		margin-left: 8px;
	}
	.fltlft {
		float: left;
		margin-right: 8px;
	}
	.clearfloat { 
		clear:both;
		height:0;
		font-size: 1px;
		line-height: 0px;
	}


	header, section, footer, aside, article, figure {
		display: block;
	}
	-->
	</style><!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--></head>

	<body>

	<div class="container">
	  <header class="container" id="3"><%= link_to "Home", root_path%> &nbsp;
	<% if customer_signed_in? %> 
	Signed in as <%= current_customer.email %>. Not you? 
	<%= link_to "Sign out", destroy_customer_session_path,:method => :delete %>
		<% else %>
		<%= link_to "Register", new_customer_registration_path %> or
		 <%= link_to "Sign in", new_customer_session_path %>
		<% end %>
		  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;   &nbsp;&nbsp;   &nbsp;&nbsp;   &nbsp;<%= link_to "Support", support_path%> &nbsp;     </header>
	  <header class="container" id="1"></header>
	  <header></header>
	  
	
<%= yield %>

<footer>
    <p><%= link_to "Home", root_path%> &nbsp;<%= link_to "My Feed", feed_path%> &nbsp;<%= link_to "User agreement", agreement_path%> &nbsp;<%= link_to "Privacy policy", policy_path%> 

  </footer>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
